body {
    text-align: center;
    font-size: 3em;
    font-family: 'Oregano', cursive;
    color:mediumaquamarine
}

li {
    text-align: center;
color:mediumaquamarine
}
ul
{
    list-style-type: none;
    color:mediumaquamarine
}